@page
@model AccessDeniedModel
@using Duil_App.Resources
@{
    ViewData["Title"] = Resource.AcessoNegado;
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Resource.AcessoNegadoText</p>
</header>
