@page
@model LockoutModel
@using Duil_App.Resources
@{
    ViewData["Title"] = Resource.Contabloquead;
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Resource.Contabloquead</p>
</header>
