@{
    ViewData["Title"] = "Página Inicial";
}

<div class="position-relative" style="height: 35vw; width:100vw; overflow: hidden;">
    <!-- Imagem de fundo -->
    <img src="~/images/ceramica.png"
         class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
         style="z-index: -1;" alt="Imagem de fundo" />

    <div class="container-fluid h-50"
         style="height: 300px; background-color: rgba(49, 0, 13, 0.25);">
        <h1 class="text-white fw-semibold fs-1 px-3" style="opacity: 1;">
            Welcome
        </h1>
    </div>
</div>

<p>
    Duil is an agency that works as an Export Office for a group of Portuguese factories, for the markets where we are focused.
    Keeping and building-up a deep and close relation with each of “our” factories. Our task is to promote factory's products, thecnical habilities and skills. We care about a constant flow of new products, supplying new ideas through our design department, or getting new ideas from customers own design sources, selecting then the right producer for each of the new ideas and needs. Among our concerns and goals, is the evolution of the factories, pushing for trips to the markets or trips from the customers to the factories. We assure to the ones working with us, a constant follow-up and information flow, about the matters, needs and targets, from the first steps of the modling and developing, to the last steps of the shipping. Also with the target of promoting Portugal, and turning the relations even more tight and interesting, we can promote special company events to the customers in the markets, that can involve family, final customers and/or employees, organizing wine-trips, golf, and other leisure activities. As a conclusion, our main target is to promote Portugal, and give a bit of our heart and soul, establishing long relations between the markets and Portugal.
</p>
<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>