@{
    ViewData["Title"] = "Referências";
}

<div class="container p-5 mt-4">
    <h2 class="mb-4 text-center">Desenvolvimento Web</h2>
    <p class="text-center mb-0">Licenciatura em Eng. Informática</p>
    <p class="text-center mb-4">2º ano, 2º semestre</p>

    <h4 class="mb-3">Documento relativo à listagem de referências</h4>

    <div class="mb-4">
        <p><strong>Nome da Aplicação:</strong> Duil</p>
        <p><strong>Autor(es):</strong></p>
        <ul>
            <li><strong>Nº:</strong> 19254 &nbsp;&nbsp;&nbsp; <strong>Nome:</strong> Maria Eduarda Marques Galamba</li>
            <li><strong>Nº:</strong> 24871 &nbsp;&nbsp;&nbsp; <strong>Nome:</strong> Cláudio Miguel De Almeida Vaz Jorge</li>
        </ul>
    </div>

    <h5 class="mb-3">Referências utilizadas no desenvolvimento do trabalho</h5>

    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th>Aplicação</th>
                <th>Link ou Referência</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SMTP</td>
                <td><a href="https://github.com/jcnpereira/SendEmail" target="_blank">https://github.com/jcnpereira/SendEmail</a></td>
            </tr>
            <tr>
                <td>Controllers da API</td>
                <td><a href="https://github.com/IPT-DW-2024-2025/tA-appFotos/tree/API-aulasl" target="_blank">https://github.com/IPT-DW-2024-2025/tA-appFotos/tree/API-aulas</a></td>
            </tr>
            <tr>
                <td>Sticky Footer (rodapé fixo)</td>
                <td><a href="https://stackoverflow.com/a/25973166" target="_blank">https://stackoverflow.com/a/25973166</a></td>
            </tr>
            <tr>
                <td>SignalR (comunicação em tempo real)</td>
                <td><a href="https://medium.com/@@paulotorres/building-real-time-applications-with-signalr-in-net-core-8e60f166648a" target="_blank">Medium - Paulo Torres</a></td>
            </tr>
            <tr>
                <td>Bootstrap (framework de estilos)</td>
                <td><a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a></td>
            </tr>
            <tr>
                <td>Bootstrap Icons</td>
                <td><a href="https://icons.getbootstrap.com/" target="_blank">https://icons.getbootstrap.com/</a></td>
            </tr>
            <tr>
                <td>Chart.js (gráficos do utilizador)</td>
                <td><a href="https://www.chartjs.org/" target="_blank">https://www.chartjs.org/</a></td>
            </tr>
            <tr>
                <td>MailTrap (ambiente de testes de email)</td>
                <td><a href="https://mailtrap.io/" target="_blank">https://mailtrap.io/</a></td>
            </tr>
            <tr>
                <td>Sistema de Traduções</td>
                <td><a href="https://www.youtube.com/watch?v=0rq9Cj2fgJ0" target="_blank">Vídeo YouTube</a></td>
            </tr>
            <tr>
                <td>Barra de Pesquisa (Search no MVC)</td>
                <td><a href="https://learn.microsoft.com/pt-br/aspnet/core/tutorials/first-mvc-app/search" target="_blank">Microsoft Docs (PT-BR)</a></td>
            </tr>
            <tr>
                <td>Paginação no MVC</td>
                <td><a href="https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/sort-filter-page" target="_blank">Microsoft Docs</a></td>
            </tr>
        </tbody>
    </table>
</div>
