@model Duil_App.Models.Fabricas
@using Duil_App.Resources

@{
    ViewData["Title"] = Resource.adicionarFabricaViewTitle;
}

<div>
    <a asp-action="Index"><i class="bi bi-arrow-left fs-3 ms-3" style="color:#6B97AC"></i></a>
</div>

<div class="d-flex justify-content-center mt-5 min-vh-100">
    <div class="container mt-5" style="width:80%">
        <h3 class="mb-2 grey-text">@Resource.adicionarFabricaViewTitle</h3>
        <hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mt-5">
                <div class="col-md-5 me-5">
                    <div class="form-group mb-3">
                        <input asp-for="Nome" class="form-control" placeholder="@Resource.Nome *" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <input asp-for="Nif" class="form-control" placeholder="@Resource.NIF *" />
                        <span asp-validation-for="Nif" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <input asp-for="Telemovel" class="form-control" placeholder=@Resource.Telemovel/>
                        <span asp-validation-for="Telemovel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value=@Resource.Adicionar class="btn btn-custom mt-3" />
                    </div>
                </div>

                <div class="col-md-5 ms-2">
                    <div class="form-group mb-3">
                        <input asp-for="Morada" class="form-control" placeholder=@Resource.Morada />
                        <span asp-validation-for="Morada" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <input asp-for="MoradaDescarga" class="form-control" placeholder=@Resource.MoradaDescarga />
                        <span asp-validation-for="MoradaDescarga" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <input class="form-control" value="Portugal" readonly />
                        <input type="hidden" name="Pais" value="Portugal" />
                    </div>
                    <div class="form-group mb-3">
                        <input asp-for="CodPostal" class="form-control" placeholder=@Resource.CodPostal />
                        <span asp-validation-for="CodPostal" class="text-danger"></span>
                    </div>
                    <p class="text-danger mt-4">@Resource.eDePreenchimentoObrigatorio</p>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
