@model Duil_App.Models.Clientes

@{
    ViewData["Title"] = "Create";
}


<h4>Adicionar empresa cliente</h4>
<hr />
<div class="container p-4">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <input asp-for="Nif" class="form-control" placeholder="NIF" />
                <span asp-validation-for="Nif" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                    <input asp-for="Nome" class="form-control" placeholder="Nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input asp-for="Morada" class="form-control" placeholder="Morada"/>
                <span asp-validation-for="Morada" class="text-danger"></span>
            </div>
                <div class="form-group mb-3 ">
                    <input asp-for="MoradaCarga" class="form-control" placeholder="Morada de carga" />
                <span asp-validation-for="MoradaCarga" class="text-danger"></span>
            </div>
                <div class="form-group mb-3">
                <select asp-for="Pais" class="form-control" asp-items="ViewBag.Pais">
                    <option value="">Selecione um país</option>
                </select>
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
                <div class="form-group mb-3 ">
    
                    <input asp-for="CodPostal" class="form-control" placeholder="Código Postal" />
                <span asp-validation-for="CodPostal" class="text-danger"></span>
            </div>
                <div class="form-group mb-3">
                <input asp-for="Telemovel" class="form-control" placeholder="Telemóvel"/>
                <span asp-validation-for="Telemovel" class="text-danger"></span>
            </div>
                <div class="form-group mb-3">
                <input asp-for="Email" class="form-control" placeholder="Email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
