html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-pink {
    background-color: #A08585;
}

.navbar-blue {
    background-color: #6B97AC;
}

grey-text {
    color: #414141;
}

body.paginas-index-fundo {
    background-color: #E1E1E1;
}