@using Microsoft.AspNetCore.Identity
@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager

@{
    Utilizadores curUser = null;
    if (SignInManager.IsSignedIn(User))
    {
        curUser = UserManager.GetUserAsync(User).Result;
    }
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá @curUser.Nome</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/ConfirmLogout">Terminar Sessão</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registar-se</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Iniciar Sessão</a>
    </li>
}
</ul>
