@using Microsoft.AspNetCore.Identity
@using Duil_App.Models
@using Duil_App.Resources
@inject UserManager<Utilizadores> UserManager

@{
    Layout = ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null
        ? parentLayout.ToString()
        : "/Areas/Identity/Pages/_Layout.cshtml";

    ViewData["Title"] = Resource.Perfil;
    ViewData["BodyClass"] = "paginas-index-fundo";

    var user = UserManager.GetUserAsync(User).Result;
}

<div class="container-fluid d-flex justify-content-center align-items-center position-relative"
     style="height: 250px; background-color: #b4bdc1;">
    <h1 class="fw-light text-white">@Resource.bemvindoperfil <strong>@user.Nome!</strong></h1>
</div>

<div class="container p-5 mt-4">
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>

        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
